@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply block outline-blue-500 focus:outline border-none w-full dark:bg-slate-950 bg-slate-200 px-2 h-10;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: 0;
  }

  .submit {
    @apply block col-start-2 col-span-2 outline-blue-500 focus:outline border-none w-full bg-cyan-800 hover:bg-cyan-600 duration-200 text-white transition-all ease-out  px-2 h-10;
  }
}

@layer base {
  body {
    @apply dark:bg-slate-900 dark:text-white bg-slate-50 text-lg;
    font-family: "Poppins", system-ui, -apple-system, sans-serif;
  }
}
